<% if(auth){ %>
        <div>
            <span>Sveiki prisijungę:<%= token.email %> </span><br>
            <a href="user/<%= token.id %>"><input type="submit" value="My Blogs"></a>
            <a href="/logout"><input id="logout" type="submit" value="log out"></a>
        </div>
        <% } else{ %>
            <div class="logAndReg">
                <a href="/register">REGISTER</a>
                <a href="/login">LOGIN</a>
            </div>
    <% } %>
