<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <nav class="homeNav">
        <%- include('partials/header') %>
    </nav>
    <h1>
        <%= title %>
    </h1>
    <section class="blogs">
        <%- include('partials/content')%>
    </section>
</body>

</html>