<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <main>
        <nav class="homeNav">
            <div>
                <a href="/"><input type="submit" value="home"></a>
            </div>
        </nav>
        <div class="loginTitle">
            <h1>
                <%= title %>
            </h1>
        </div>
        <%- include('partials/login') %>
    </main>
</body>

</html>