<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <nav class="homeNav">
        <div>
            <a href="/"><input type="submit" value="home"></a>
        </div>
    </nav>
    <div class="registration">
        <div>
            <h1><%= title %></h1>
        </div>
        <%- include('partials/registration')%>
    </div>
</body>
</html>