<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head')%>
</head>

<body>
    <nav class="homeNav">
        <div>
            <span>Sveiki: <%=vartotojas%></span><br>
            <a href="/"><input type="submit" value="home"></a>
            <a href="/logout"><input id="logout" type="submit" value="log out"></a>
        </div>
    </nav>
    <section class="blogs">
        <%- include('partials/userContent')%>
    </section>
    <section>
    <h1><%=addBlog%></h1>
        <form class="form"action="http://localhost:3000/api/blog" method="post" class="forma">
            <input type="text" name="title" placeholder="Title" required><br>
            <textarea name="content" placeholder="Content" required></textarea><br>
            <input type="submit" value="Įkelti vertinimą">
        </form>
    </section>
</body>

</html>